@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
  color: #606060;
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-16px, 16px);
    transform: rotate(-45deg) translate(-16px, 16px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes scrollDown {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-16px, 16px);
    transform: rotate(-45deg) translate(-16px, 16px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    transform: rotate(-45deg) translate(0, 0);
  }
}

a {
  color: inherit;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

a:hover,
a:focus {
  color: #0d0d0d;
  text-decoration: none;
  outline: none;
}
